.page
	&__head
		background-color: #fff
		border: 1px solid $border
		border-bottom: none
		padding: 55px
	&__body
		background-color: #fff
		border: 1px solid $border
		padding: 55px
		min-height: 600px